<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark secondary-color lighten-1">
    <a class="navbar-brand" href="/">DRWork</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
        aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if uri == "/" %}active{% endif %}">
                <a class="nav-link" href="/">Home 
                </a>
            </li>
            <li class="nav-item {% if uri == "/contact" %}active{% endif %}">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item {% if uri == "/blog" %}active{% endif %}">
                <a class="nav-link" href="/blog">Blog gestion</a>
            </li>
            <li class="nav-item {% if uri == "/DB" %}active{% endif %}">
                <a class="nav-link" href="/DB">Blog BDD</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
            <a data-toggle="modal" 
                data-target="#centralModalSuccess" 
                class="nav-link waves-effect waves-light">
                {% if message %}1{% endif %}
                <i class="fas fa-envelope"></i>
            </a>
        </li>
        <li class="nav-item avatar dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img src="/images/about.png" 
                class="rounded-circle z-depth-0"
                alt="avatar image" width="30">
            </a>
            <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
            aria-labelledby="navbarDropdownMenuLink-55">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
        </ul>
    </div>
</nav>
<!--/.Navbar -->